body {
  background-image: url(../Images/home\ bg.jpg);
  background-size: cover; /* Adjusted to cover */
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image */
  background-color: #304762;  
  margin:  0; /* Ensure there's no default margin */
  height:  100vh; /* Ensure the body takes the full viewport height */
}

.logo {
  position: fixed;
  top: 10px; 
  left: 10px; 
  font-size: 2.5rem; 
  color: white; 
  font-weight: bold;
}

.profile-picture {
  position: absolute;
  right: 50px;
  top: 150px;
}

.profile-picture img {
  width: 450px;
  height: 450px;
  border-radius: 15px;
}

.tittle {
  position: absolute;
  top: 300px;
  color: white;
  left: 250px;
  font-size: 1.5rem;
  font-style: bold;
}

.button-container {
  position: absolute;
  top: 510px; 
  right: 150px; 
  padding: 10px; 
}

.download-cv-button {
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: gray;
  font-size: 1rem;
}

.download-cv-button:hover,
.hire-me-button:hover {
  background-color: #0056b3; 
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  color: black;
}

.icon {
  font-size: 50px; 
  margin: 0 10px; 
  transition: transform 0.3s ease;
}

.icon:hover {
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.Time {
  border: 1px solid rgb(255, 255, 255);
  background-color: #5B7798;
  border-radius: 30px 30px 30px 30px;
  height: 35px;
  width: 150px;
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
  }

  .tittle {
    position: absolute;
    top: 10px;
    color: white;
    left: 0px;
    font-size: 1rem;
    font-style: bold;
  }
  

  .button-container {
      position: relative;
      top: auto;
      right: auto;
      text-align: center;
      margin-top: 20px;
  }
  
.icon{
  margin-top: 0;
  padding-left: 150px;
  margin: 5px;
  width: 2px;
}

.logo {
  position: absolute;
  top: 10px; 
  left: 10px; 
  font-size: 1rem; 
  color: white; 
  font-weight: bold;
}

.download-cv-button {
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 15px;
  color: rgb(43, 43, 43);
  background-color: rgb(121, 138, 211);
  font-size: 1rem;
  max-width: 10px;
}

}

@media screen and (max-width:   768px) {
  .logo {
    font-size:   1.5rem;
  }

  .profile-picture img {
    width:   100%;
    height: auto;
  }

  .tittle {
    font-size:   1.2rem;
  }

  .button-container {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    margin-top:   20px;
  }
}

/* Additional responsive adjustments */
@media screen and (max-width:   480px) {
  .logo {
    font-size:   1.2rem; 
  }

  .profile-picture img {
    width:   45%; 
    height: auto;
    margin-top: 150px;
    margin-left: 40px;
  }

  .tittle {
    font-size:   1rem; 
    margin-top: 50px;
    margin-left: 30px;
  }

  .button-container {
    margin-top:   10px; 
  }

  .Time {
    border: 1px solid rgb(255, 255, 255);
    background-color: #2d5583;
    border-radius: 30px 30px 30px 30px;
    height: 25px;
    width: 120px;
    text-align: center;
  }

  .button-container {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    margin-top:   20px;
    margin-left: 30px;
    
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-top: 0px; 
    color: black;
    margin-left: 50px;
  }
  
  .icon {
    font-size: 50px; 
    margin: 0 10px; 
    transition: transform 0.3s ease;
  }
  

}
