.contact-container {
  display: flex;
  align-items: center;
  background-color: #5B7798;
  height: 100vh;
  color: azure;
  top: 50px;
}

.contact-image {
  flex: 1;
  padding: 20px;
}

.contact-image img {
  width: 70%;
  height: 70%;
  border-radius: 30px 30px 30px 30px;
}



.contact-form {
  flex: 1;
  padding: 20px;
}

.contact-form form {
  max-width: 450px; 
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 70px;
}

.contact-form button {
  background-color: #304762;
  color: #fff;
  padding: 10px 20px;
  border-color: rgb(12, 0, 68);
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #98b1ce;
}




/* For smaller devices */
@media screen and (max-width: 767px) {
  .contact-container {
      flex-direction: column;
      justify-content: center;
      bottom: 200px;

  }

  .contact-image,
  .contact-form {
      width: 70%;
      margin: 0px;
      padding-left: 60px;
  }


  .contact-form {
      padding: 15px;
  }

  .contact-image img {
      width: 90%;
      height: auto;
  }
}

@media only screen and (max-width: 768px ) {
  .contact-image img {
    width: 200px;
    height: 200px;
     margin-left: -30px;
  }

  .contact-container {
 
    background-color: #5B7798;
    height: 200vh;
    color: azure;
    
  }
}