.contact-container {
  display: flex;
  align-items: center;
  background-color: #5B7798;
  height: 100vh;
  color: azure;
  top: 50px;
}

.contact-image {
  flex: 1;
  padding: 20px;
  text-align: center; /* Center the image */
}

.contact-image img {
  max-width: 70%;
  height: auto;
  border-radius: 30px;
}

.contact-form {
  flex: 1;
  padding: 20px;
}

.contact-form form {
  max-width: 450px; 
  margin: 0 auto; /* Center the form */
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding in width */
}

.contact-form textarea {
  height: 70px;
}

.contact-form button {
  background-color: #304762;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #98b1ce;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .contact-container {
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    height: auto;
  }

  .contact-image,
  .contact-form {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .contact-image img {
    margin-top: 0;
    border-radius: 15px;
  }
}
