.Navbar{
    top: 0;
    position: fixed;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.Navbar ul{
    display: inline-block;  
    list-style-type: none;
    position: absolute;
    right: 30px;
}

.Navbar li{
    display: inline-block; 
    padding: 15px; 
  
}
 .Navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
 }