.footer {
  background-color: #304762;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-left: 2%;
  margin: 50px;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  animation: rotate 2s linear infinite; /* Animation added */
}

.social-icons a:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .social-icons {
    flex-wrap: wrap;
  }

  .social-icons a {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
