.footer {
  background-color: #304762;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-left: 2%;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .social-icons {
    flex-wrap: wrap;
  }

  .social-icons a {
    margin-right: 0;
    margin-bottom: 10px;
  }

 
}

